In [15]:
import pandas as pd

import mysql.connector
from sqlalchemy import create_engine, text

In [2]:

file_path = 'used_bikes.csv'  
data = pd.read_csv(file_path)  


data['price'] = data['price'].astype(float)
data['kms_driven'] = data['kms_driven'].astype(int)
data['age'] = data['age'].astype(int)
data['power'] = data['power'].astype(int)

In [3]:

before_memory = data.memory_usage(deep=True).sum()


after_memory = data.memory_usage(deep=True).sum()

print(f"Memory usage before: {before_memory / (1024 * 1024):.2f} MB")
print(f"Memory usage after: {after_memory / (1024 * 1024):.2f} MB")

Memory usage before: 0.04 MB
Memory usage after: 0.04 MB

In [ ]:
data.head()

In [28]:
db_connection = mysql.connector.connect(
    host='127.0.0.1',
    port = '3306',
    user='root',
    password='1234',
    database='task2'
)

cursor = db_connection.cursor()

In [26]:
memory_before = data.memory_usage(deep=True).sum() / (1024 * 1024)

In [31]:

create_table_query = """
CREATE TABLE IF NOT EXISTS new_bikes (
    id INT AUTO_INCREMENT PRIMARY KEY,
    bike_name VARCHAR(255),
    price VARCHAR(255),
    city VARCHAR(255),
    kms_driven VARCHAR(255),
    owner VARCHAR(255),
    age VARCHAR(255),
    power VARCHAR(255),
    brand VARCHAR(255)
)
"""

cursor.execute(create_table_query)


for _, row in data.iterrows():
    insert_query = """
    INSERT INTO new_bikes (bike_name, price, city, kms_driven, owner, age, power, brand)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """
    values = (
        row['bike_name'],
        row['price'],
        row['city'],
        row['kms_driven'],
        row['owner'],
        row['age'],
        row['power'],
        row['brand']
    )
    cursor.execute(insert_query, values)


index_query = "CREATE INDEX id ON new_bikes(bike_name)"
cursor.execute(index_query)


db_connection.commit()
cursor.close()
db_connection.close()


memory_after = data.memory_usage(deep=True).sum() / (1024 * 1024)  

print(f"Memory usage before changing data types: {memory_before:.2f} MB")
print(f"Memory usage after changing data types: {memory_after:.2f} MB")

Memory usage before changing data types: 0.04 MB
Memory usage after changing data types: 0.04 MB

In [33]:


before_memory = data.memory_usage(deep=True).sum()
before_memory

44269

In [34]:
df['price'] = df['price'].astype(int)
df['age'] = df['age'].astype(int)

In [35]:
print("\nMemory Usage After Data Type Change:")
print(df.memory_usage(deep=True).sum())

Memory Usage After Data Type Change:
44865

In [36]:

db_host = '127.0.0.1'
db_user = 'root'
db_password = '1234'
db_name = 'task2'

engine = create_engine(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")

In [ ]:
with engine.connect() as connection:
    query = text('ALTER TABLE bikes DROP INDEX IF EXISTS bike;')
    connection.execute(query)


df.to_sql('bikes', engine, if_exists='replace', index=False)

with engine.connect() as connection:
    query = text('CREATE INDEX index_name ON your_table_name(price);')
    connection.execute(query)

In [41]:
with engine.connect() as connection:
    query = text('DROP INDEX  id ON new_bikes;')
    connection.execute(query)

df.to_sql('bikes', engine, if_exists='replace', index=False)


with engine.connect() as connection:
    query = text('CREATE INDEX idx_price ON bikes(price);')
    connection.execute(query)

In [42]:
after__memory = data.memory_usage(deep=True).sum()
after_memory

44269